-i https://pypi.org/simple/
apscheduler==3.6.3
autopep8==1.5
certifi==2021.5.30
chardet==4.0.0
idna==2.10
pycodestyle==2.7.0
pytz==2021.1
requests==2.25.1
six==1.16.0
spotipy==2.9.0
tzlocal==2.1
urllib3==1.26.5
